<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    	<h2>Hi <%= @submission_user.name %>!</h2>
    <p>An assignment that you recently submitted has been graded.</p>

    <p>Go to the <a href="http://tecm3200.herokuapp.com">course website</a> to view your score with any comments or feedback.</p>
    <p>Thanks! Dr. Lam</p>
  </body>
</html>